@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.3 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

section {
  background-color: #e2e2e2;
  margin: 0 auto;
}

.container {
  max-width: 50em;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.content {
  width: 100%;
  margin: 0 auto;
  padding: 2rem 1rem;
}

a {
  padding: .5em .75em;
  background-color: #555;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
}

.img-container {
  display: inline-block;
  margin: 0 auto;
  padding: 0 1rem 1rem;
}

.img-flex {
  width: 100%;
  display: block;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

  h1,
  p {
    margin: 0 0 1.3rem;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  h1,
  p {
    margin: 0 0 1.4rem;
  }

  .content {
    width: 50%;
  }

  .img-container {
    width: 50%;
    padding-top: 1em;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  h1,
  p {
    margin: 0 0 1.5rem;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

}
